<!--
    About
-->
<div class="content about">

  <!-- title -->
  <div class="title">About Me</div>

  <!-- content -->
  <div class="row">
    <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
      <div class="text-box">
        <p>
          I am Ryan Adlard, web designer from USA, California. I have rich experience in
          web site design and building and customization, also I am good at wordpress.
          I love to talk with you about our unique.
        </p>
      </div>
      <div class="info-list">
        <ul>
          <li><strong>Age . . . . .</strong> 24</li>
          <li><strong>Residence . . . . .</strong> USA</li>
          <li><strong>Freelance . . . . .</strong> Available</li>
          <li><strong>Address . . . . .</strong> California, USA</li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>

</div>

<!--
    Services
-->
<div class="content services">

  <!-- title -->
  <div class="title">My Services</div>

  <!-- content -->
  <div class="row service-items border-line-v">

    <!-- service item -->
    <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
      <div class="service-item">
        <div class="icon"><span class="ion ion-code"></span></div>
        <div class="name">Web Development</div>
        <p>
          Modern and mobile-ready website that will help you
          reach all of your marketing.
        </p>
      </div>
    </div>

    ...

    <div class="clear"></div>
  </div>

</div>

<!--
    Price Tables
-->
<div class="content pricing">

  <!-- title -->
  <div class="title">Pricing</div>

  <!-- content -->
  <div class="row pricing-items">

    <!-- pricing item -->
    <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
      <div class="pricing-item">
        <div class="icon"><i class="ion ion-speedometer speed-basic"></i></div>
        <div class="name">Basic</div>
        <div class="amount">
          <span class="dollar">$</span>
          <span class="number">22</span>
          <span class="period">hour</span>
        </div>
        <div class="feature-list">
          <ul>
            <li>Web Development</li>
            <li>Advetising</li>
            <li>Game Development</li>
            <li class="disable">Music Writing</li>
            <li class="disable">Photography <strong>new</strong></li>
          </ul>
        </div>
        <div class="lnks">
          <a href="#" class="lnk">
            <span class="text">Buy Basic</span>
            <i class="ion ion-speedometer speed-basic"></i>
          </a>
        </div>
      </div>
    </div>

    ...

    <div class="clear"></div>
  </div>

</div>

<!--
    Fun Fact
-->
<div class="content fuct">

  <!-- title -->
  <div class="title">Fun Fact</div>

  <!-- content -->
  <div class="row fuct-items">

    <!-- fuct item -->
    <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
      <div class="fuct-item">
        <div class="icon"><span class="ion ion-disc"></span></div>
        <div class="name">80 Albumes Listened</div>
      </div>
    </div>

    ...

    <div class="clear"></div>
  </div>

</div>

<!--
    Clients
-->
<div class="content clients">

  <!-- title -->
  <div class="title">Clients</div>

  <!-- content -->
  <div class="row client-items">

    <!-- client item -->
    <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
      <div class="client-item">
        <div class="image">
          <a target="_blank" href="https://www.google.com">
            <img src="images/clients/client_1.png" alt="" />
          </a>
        </div>
      </div>
    </div>

    ...

    <div class="clear"></div>
  </div>

</div>
