<!--
    About
-->
<div class="content about">

  <!-- title -->
  <div class="title">About Me</div>

  <!-- content -->
  <div class="row">
    <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
      <div class="text-box">
        <p>
          I studied at the University of Colima, the engineering degree in computer systems.
          I consider that I'm a proactive and autodidact person and eager to learn new things about technology.
          My principal hobbies are hanging out with my family and friends, play video games and learned about new technologies or develop software.
        </p>
      </div>
      <div class="info-list">
        <ul>
          <li><strong>Age . . . . .</strong> 27</li>
          <li><strong>Residence . . . . .</strong> Mexico</li>
          <li><strong>Freelance . . . . .</strong> Available</li>
          <li><strong>Address . . . . .</strong> Colima, col</li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </div>

</div>