<div class="profile">

  <!-- profile image -->
  <div class="slide" style="background-image: url(images/bg.jpg);"></div>

  <!-- profile photo -->
  <div class="image">
    <img src="images/profile.jpg" alt="" />
  </div>

  <!-- profile titles -->
  <div class="title">Luis Ozuna</div>
  <div class="subtitle">Web Developer</div>

  <!-- profile socials -->
  <div class="social">
    <a target="_blank" href="https://github.com/LuisOzParr/"><span class="ion ion-social-github"></span></a>
    <a target="_blank" href="https://twitter.com/LuisOzParr/"><span class="ion ion-social-twitter"></span></a>
    <a target="_blank" href="https://www.instagram.com/luisozunaparr/"><span class="ion ion-social-instagram-outline"></span></a>
  </div>

  <!-- profile buttons -->
  <div class="lnks">
    <a href="#" class="lnk">
      <span class="text">Download CV</span>
      <span class="ion ion-archive"></span>
    </a>
    <a href="#" class="lnk discover">
      <span class="text">Contact Me</span>
      <span class="arrow"></span>
    </a>
  </div>

</div>