<!--
    Resume
-->
<div class="content resume">

  <!-- title -->
  <div class="title">Resume</div>

  <!-- content -->
  <div class="row">

    <!-- experience -->
    <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
      <div class="resume-title border-line-h">
        <div class="icon"><i class="ion ion-briefcase"></i></div>
        <div class="name">Experience</div>
      </div>
      <div class="resume-items">
        <div class="resume-item border-line-h active">
          <div class="date">2020 - Present</div>
          <div class="name">Developer</div>
          <div class="company">Avances Tecnológicos en Movilidad</div>
          <p class="justify">
            Collaborated of create web services to feed mobile apps
            and development of the company administration website.
          </p>
        </div>

        <div class="resume-item border-line-h">
          <div class="date">2018 - 2019</div>
          <div class="name">Developer</div>
          <div class="company">Magmalabs (BrightCoders)</div>
          <p class="justify">
            A program designed to train talent software developers. Working with agile methodologies (Scrum), in a work team. Developing a project in real environments (qbuuz-business)
          </p>
        </div>

        <div class="resume-item border-line-h">
          <div class="date">2017 - 2019</div>
          <div class="name">Developer</div>
          <div class="company">Freelancer</div>
          <p class="justify">
            Developing web application and desktop applications
          </p>
        </div>

        <div class="resume-item border-line-h">
          <div class="date">2017 - 2019</div>
          <div class="name">Administrator</div>
          <div class="company">Farmacia Generia-K</div>
          <p class="justify">
            Maintenance of point of sell and Administrator of pharmacy.
          </p>
        </div>

        <div class="resume-item border-line-h">
          <div class="date">2015 - 2016</div>
          <div class="name">Technical Support</div>
          <div class="company">SISO</div>
          <p class="justify">
            Installation of security systems, networks, physical ground, etc. Preventive and corrective maintenance of computer equipment. Technical support.
          </p>
        </div>


      </div>
    </div>

    <!-- education -->
    <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
      <div class="resume-title border-line-h">
        <div class="icon"><i class="ion ion-university"></i></div>
        <div class="name">Education</div>
      </div>
      <div class="resume-items">

        <div class="resume-item border-line-h">
          <div class="date">2011 - 2015</div>
          <div class="name">Bachelor’s Degree</div>
          <div class="company">Universidad de colima</div>
          <p>
            Computer systems engineer
          </p>
        </div>

        <div class="resume-item border-line-h">
          <div class="date">2008 - 2011</div>
          <div class="name">High School</div>
          <div class="company">Instituto Salesiano Fray Pedro de Gante</div>
          <p>

          </p>
        </div>

        <div class="resume-item border-line-h">
          <div class="date">2005 - 2008</div>
          <div class="name">Middle School</div>
          <div class="company">Instituto Salesiano Fray Pedro de Gante</div>
          <p>

          </p>
        </div>

      </div>

      <br>

      <div class="resume-title border-line-h">
        <div class="icon"><i class="ion ion-university"></i></div>
        <div class="name">courses</div>
      </div>
      courses
    </div>

    <div class="clear"></div>
  </div>

</div>

<!--
    Skills
-->
<div class="content skills">

  <!-- title -->
  <div class="title">My Skills</div>

  <!-- content -->
  <div class="row">
    <!-- skill item -->
    <div class="col col-d-6 col-t-6 col-m-12 border-line-v">

      <div class="skills-list">
        <div class="skill-title border-line-h">
          <div class="icon"><i class="ion ion-code"></i></div>
          <div class="name">Coding</div>
        </div>
        <ul>
          <li class="border-line-h">
            <div class="name">PHP - Laravel</div>
            <div class="progress">
              <div class="percentage" style="width:95%;"></div>
            </div>
          </li>
          <li class="border-line-h">
            <div class="name">Ruby on Rails</div>
            <div class="progress">
              <div class="percentage" style="width:45%;"></div>
            </div>
          </li>
          <li class="border-line-h">
            <div class="name">Javascript</div>
            <div class="progress">
              <div class="percentage" style="width:85%;"></div>
            </div>
          </li>
          <li class="border-line-h">
            <div class="name">HTML, CSS</div>
            <div class="progress">
              <div class="percentage" style="width:90%;"></div>
            </div>
          </li>
          <li class="border-line-h">
            <div class="name">ReactJS</div>
            <div class="progress">
              <div class="percentage" style="width:80%;"></div>
            </div>
          </li>
          <li class="border-line-h">
            <div class="name">ReactNative</div>
            <div class="progress">
              <div class="percentage" style="width:45%;"></div>
            </div>
          </li>
          <li class="border-line-h">
            <div class="name">MySQL, PostgreSQL, SQLite</div>
            <div class="progress">
              <div class="percentage" style="width:80%;"></div>
            </div>
          </li>
          <li class="border-line-h">
            <div class="name">ElectronJS</div>
            <div class="progress">
              <div class="percentage" style="width:40%;"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- skill item -->
    <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
      <div class="skills-list">
        <div class="skill-title border-line-h">
          <div class="icon"><i class="ion ion-easel"></i></div>
          <div class="name">Languages</div>
        </div>
        <ul>
          <li class="border-line-h">
            <div class="name">Spanish (native)</div>
            <div class="progress">
              <div class="percentage" style="width:100%;"><span class="da" style="width: 309.984px;"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></div>
              <span class="dg"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></div>
          </li>
          <li class="border-line-h">
            <div class="name">English</div>
            <div class="progress">
              <div class="percentage" style="width:60%;"><span class="da" style="width: 309.984px;"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></div>
              <span class="dg"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span></div>
          </li>
        </ul>
      </div>
      <br>
      <div class="skills-list list">
        <div class="skill-title border-line-h">
          <div class="icon"><i class="ion ion-android-list"></i></div>
          <div class="name">Knowledge</div>
        </div>
        <ul>
          <li>
            <div class="name">Website hosting</div>
          </li>
          <li>
            <div class="name">iOS and android apps</div>
          </li>
          <li>
            <div class="name">Heroku deploy</div>
          </li>
          <li>
            <div class="name">Databases</div>
          </li>
          <li>
            <div class="name">Google cloud</div>
          </li>
          <li>
            <div class="name">Linux terminal</div>
          </li>
          <li>
            <div class="name">Testing</div>
          </li>
        </ul>
      </div>
    </div>





    <div class="clear"></div>
  </div>

</div>
