<!--
    Resume
-->
<div class="content resume">

  <!-- title -->
  <div class="title">Resume</div>

  <!-- content -->
  <div class="row">

    <!-- experience -->
    <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
      <div class="resume-title border-line-h">
        <div class="icon"><i class="ion ion-briefcase"></i></div>
        <div class="name">Experience</div>
      </div>
      <div class="resume-items">
        <div class="resume-item border-line-h active">
          <div class="date">2013 - Present</div>
          <div class="name">Art Director</div>
          <div class="company">Facebook Inc.</div>
          <p>
            Collaborate with creative and development teams on the execution of ideas.
          </p>
        </div>
        ...
      </div>
    </div>

    <!-- education -->
    <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
      <div class="resume-title border-line-h">
        <div class="icon"><i class="ion ion-university"></i></div>
        <div class="name">Education</div>
      </div>
      <div class="resume-items">
        <div class="resume-item border-line-h">
          <div class="date">2006 - 2008</div>
          <div class="name">Art University</div>
          <div class="company">New York</div>
          <p>
            Bachelor's Degree in Computer Science ABC Technical Institute, Jefferson, Missouri
          </p>
        </div>
        ...
      </div>
    </div>

    <div class="clear"></div>
  </div>

</div>

<!--
    Skills
-->
<div class="content skills">

  <!-- title -->
  <div class="title">My Skills</div>

  <!-- content -->
  <div class="row">

    <!-- skill item -->
    <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
      <div class="skills-list">
        <div class="skill-title border-line-h">
          <div class="icon"><i class="ion ion-easel"></i></div>
          <div class="name">Design</div>
        </div>
        <ul>
          <li class="border-line-h">
            <div class="name">Web Design</div>
            <div class="progress">
              <div class="percentage" style="width:90%;"></div>
            </div>
          </li>
          ...
        </ul>
      </div>
    </div>

    <!-- skill item -->
    <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
      <div class="skills-list">
        <div class="skill-title border-line-h">
          <div class="icon"><i class="ion ion-code"></i></div>
          <div class="name">Coding</div>
        </div>
        <ul>
          <li class="border-line-h">
            <div class="name">WordPress</div>
            <div class="progress">
              <div class="percentage" style="width:85%;"></div>
            </div>
          </li>
          ...
        </ul>
      </div>
    </div>

    <div class="clear"></div>
  </div>

</div>
