<!--
  Card - Started
-->
<div class="card-started" id="home-card">
  <%= render "welcome/partials/profile" %>
</div>

<!--
  Card - About
-->
<div class="card-inner animated active" id="about-card">
  <div class="card-wrap">
    <%= render "welcome/partials/about" %>
  </div>
</div>

<!--
  Card - Resume
-->
<div class="card-inner" id="resume-card">
  <div class="card-wrap">
    <%= render "welcome/partials/resume" %>
  </div>
</div>

<!--
  Card - Works
-->
<div class="card-inner" id="works-card">
  <div class="card-wrap">
    <%= render "welcome/partials/works" %>
  </div>
</div>

